.projects-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

h4 {
  border-bottom: 1px solid #ccc;
  background-color: #ddd;
  height: 100%;
  margin: 0;
  color: #555;
  padding: 2px 0 2px 5px;
}
