<div class="skills-component col-md-4 col-md-offset-1">
  <table class="row">

    <tr app-skill-component
      *ngFor="let skill of skills"
      [skill]="skill"
      [EmployeeId]="employeeId"
      [removeSkill]="deleteSkill.bind(this)"
      [updateSkill]="updateSkill.bind(this)"
      [isLegal]="isCurrent || isAdmin || isPm"></tr>

      <tr app-skill-component
        *ngIf="addingSkill"
        [skill]="skill"
        [EmployeeId]="employeeId"
        [removeSkill]="deleteSkill.bind(this)"
        [updateSkill]="updateSkill.bind(this)"
        [addingSkill]="true"
        [isLegal]="isCurrent || isAdmin || isPm"
        [toggleAddingSkill]="toggleAddingSkill.bind(this)"
        [addSkill]="addSkill.bind(this)"
        [skills]="skills"></tr>

        <tr class="col-md-offset-6 col-md-2 skill-button">
          <button *ngIf="isCurrent || isAdmin || isPm" class="btn btn-primary" type="button" (click)="toggleAddingSkill()">{{ addingSkill ? 'Cancel' : 'Add Skill'}}</button>
        </tr>

  </table>
</div>
