<div class="users-admin-page row">
  <div class="col-md-offset-1 col-md-10">
    <div class="row">
      <div class="col-md-4">
        <input placeholder="Search..." type="text" class="form-control" [(ngModel)]="filterName" (ngModelChange)="filterNameChange($event)" />
      </div>
      <div class="col-md-3 col-md-offset-5">
        <button type="button" class="btn btn-primary pull-right" routerLink="/registration" name="button">Add employee</button>
      </div>
    </div>

    <table class="employees-container table table-striped">
      <tr>
        <th class="thead1"><span class="text-primary">Name</span></th>
        <th class="thead2"><span class="text-primary">Email</span></th>
        <th class="thead3"><span class="text-primary">Skype</span></th>
        <th class="thead4"><span class="text-primary">Phone</span></th>
        <th class="thead5"></th>
        <th></th>
      </tr>

      <tr class="employee-row" *ngFor="let user of users">
          <td *ngIf="user.id !== editingId"><a [routerLink]="['/users', user.id]" routerLinkActive="active">{{ user.fullName }}</a></td>
          <td *ngIf="user.id !== editingId">{{ user.email}}</td>
          <td *ngIf="user.id !== editingId">{{ user.skype }}</td>
          <td *ngIf="user.id !== editingId">{{ user.phone }}</td>
          <td *ngIf="user.id !== editingId">
            <button type="button" class="btn btn-default button" (click)="openEdit(user.id)"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-default button" (click)="deleteUser(user.id)"><span class="glyphicon glyphicon-remove"></span></button>
          </td>



          <td *ngIf="user.id === editingId">
            <div class="form-group">
              <input class="form-control" type="text" [(ngModel)]="edit.First" placeholder="first name" />
            </div>
            <div class="form-group">
              <input class="form-control" type="text" [(ngModel)]="edit.Last" placeholder="last name" />
            </div>
          </td>
          <td *ngIf="user.id === editingId">
            <div class="form-group">
              <input class="form-control" type="text" [(ngModel)]="edit.Email" placeholder="email" />
            </div>
          </td>
          <td *ngIf="user.id === editingId">
            <div class="form-group">
              <input class="form-control" type="text" [(ngModel)]="edit.Skype" placeholder="skype" />
            </div>
          </td>
          <td *ngIf="user.id === editingId">
            <div class="form-group">
              <input class="form-control" type="text" [(ngModel)]="edit.Phone" placeholder="phone" />
            </div>
          </td>
          <td *ngIf="user.id === editingId">
            <button type="button" class="btn btn-success" (click)="submitChanges()">Submit</button>
            <button type="button" class="btn btn-warning" (click)="closeEdit()">Cancel</button>
          </td>
      </tr>

    </table>

  </div>
</div>
