<div class="row">
  <form [formGroup]="projectForm" class="col-md-offset-5 col-md-2 text-center form" (ngSubmit)="submitProject()">
    <div>Project Name</div>
    <input class="form-control" type="text" formControlName="Name">
    <div>Description</div>
    <textarea name="name" formControlName="Description" rows="8" cols="40"></textarea>
    <div>Customer Name</div>
    <input type="text" class="form-control" formControlName="CustomerName">
  </form>
</div>
<div class="row">
  <div class="col-md-12 text-center form">
    <div>Start Date</div>
    <dp-date-picker [(ngModel)]="StartDate"></dp-date-picker>
    <div>End Date</div>
    <dp-date-picker [(ngModel)]="EndDate"></dp-date-picker>
  </div>
  <div class="col-md-12 text-center button">
    <button class="btn btn-primary button" [disabled]="!projectForm.valid" type="button" (click)="submitProject()">Add Project</button>
  </div>
  <div class="text-right col-md-9"><span>*All fields are required</span></div>
</div>
