<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="row">
      <div class="col-md-4"><input class="form-control" placeholder="Search..." type="text" [(ngModel)]="filterName" (ngModelChange)="filterNameChange($event)"></div>
      <div class="col-md-offset-7 col-md-1"><button type="button" class="btn btn-primary" routerLink='/admin/newproject/'>Add project</button></div>
    </div>
    <table class="table table-striped">
      <tr class="project-head text-info">
        <th class="thead1">Name</th>
        <th class="thead2">Customer</th>
        <th class="thead3">StartDate</th>
        <th class="thead4">Description</th>
        <th class="thead5"></th>
      </tr>
      <tr class="project-row" *ngFor="let project of projects">
        <td *ngIf="editingId !== project.Id"><a [routerLink]="['/projects', project.Id]">{{ project.Name }}</a></td>
        <td *ngIf="editingId !== project.Id">{{ project.CustomerName }}</td>
        <td *ngIf="editingId !== project.Id">{{ moment(project.StartDate).format('DD-MM-YYYY') }}</td>
        <td *ngIf="editingId !== project.Id"><p>{{ project.Description }}</p></td>
        <td *ngIf="editingId !== project.Id">
          <button type="button" class="btn btn-default button" (click)="setEdit(project.Id)"><span class="glyphicon glyphicon-pencil"></span></button>
          <button type="button" class="btn btn-default button" (click)="deleteProject(project.Id)"><span class="glyphicon glyphicon-remove"></span></button>
        </td>

        <td *ngIf="editingId === project.Id">
          <input type="text" class="form-control" [(ngModel)]="edit.Name">
        </td>
        <td *ngIf="editingId === project.Id">
          <input type="text" class="form-control" [(ngModel)]="edit.CustomerName">
        </td>
        <td *ngIf="editingId === project.Id"><dp-date-picker [(ngModel)]="edit.StartDate"></dp-date-picker></td>
        <td *ngIf="editingId === project.Id"><input type="text" class="form-control" [(ngModel)]="edit.Description"></td>
        <td *ngIf="editingId === project.Id">
          <button type="button" class="btn btn-success" (click)="submitChanges()">Submit</button>
          <button type="button" class="btn btn-warning" (click)="closeEdit()">Cancel</button>
        </td>
      </tr>
    </table>
  </div>
</div>
