<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="row">
      <div class="col-md-4"><input class="form-control" type="text" [(ngModel)]="filterName" (ngModelChange)="filterNameChange($event)"></div>
      <div class="col-md-offset-7 col-md-1"><button type="button" class="btn btn-primary" routerLink='/newproject/'>Add project</button></div>
    </div>
    <div class="col-md-12">
      <div class="row project-head text-info">
        <span class="col-md-1">Name</span>
        <span class="col-md-1">Customer</span>
        <span class="col-md-3">StartDate</span>
        <span class="col-md-5">Description</span>
      </div>
      <div class="row project-row" *ngFor="let project of projects">
        <div *ngIf="editingId !== project.Id">
          <span class="col-md-1"><a [routerLink]="['/projects', project.Id]">{{ project.Name }}</a></span>
          <span class="col-md-1">{{ project.CustomerName }}</span>
          <span class="col-md-3">{{ moment(project.StartDate).format('DD-MM-YYYY') }}</span>
          <p class="col-md-5">{{ project.Description }}</p>
          <span class="col-md-1"><button type="button" class="btn btn-primary" (click)="setEdit(project.Id)">Edit</button></span>
          <span class="col-md-1"><button type="button" class="btn btn-danger" (click)="deleteProject(project.Id)">X</button></span>
        </div>
        <div *ngIf="editingId === project.Id">
          <span class="col-md-1"><input type="text" class="form-control" [(ngModel)]="edit.Name"></span>
          <span class="col-md-1"><input type="text" class="form-control" [(ngModel)]="edit.CustomerName"></span>
          <span class="col-md-3"><dp-date-picker [(ngModel)]="edit.StartDate"></dp-date-picker></span>
          <span class="col-md-5"><input type="text" class="form-control" [(ngModel)]="edit.Description"></span>
          <span class="col-md-1"><button type="button" class="btn btn-success" (click)="submitChanges()">Submit</button></span>
          <span class="col-md-1"><button type="button" class="btn btn-warning" (click)="closeEdit()">Cancel</button></span>
        </div>
      </div>
    </div>
  </div>
</div>
