.project-head {
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}

.projects-admin-page {
  width: 90%;
  margin: 0 auto;
}

.project-row {
  border-top: 1px solid #ccc;
  padding-top: 5px;
}

.button {
  margin-bottom: 5px;
  border: none;
  background: transparent;
}

.button-margin {
  margin-bottom: 5px;
}

.button:hover {
  background: transparent;
}

table {
  width: 100%;
  margin-top: 20px;
}

.thead1 {
  width: 15%;
}

.thead2 {
  width: 15%;
}

.thead3 {
  width: 20%;
}

.thead4 {
  width: 40%;
}

.thead5 {
  width: 10%;
}
