.head {
  background-color: #eee;
  height: 55px;
  border-radius: 5px 5px 0 0;
}

h2 {
  margin: 10px 0 0 10px;
}

.member-head {
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #ccc;
}

.team-container {
  margin-top: 20px;
}

.picker {
  line-height: 30px;
  margin-top: 10px;
}

.pull-right {
  line-height: 55px;
}

.add-user {
  width: 500px;
}

table {
  width: 100%;
}

.thead1 {
  width: 30%;
}

.thead2 {
  width: 15%;
}

.thead3 {
  width: 30%;
}

.thead4 {
  width: 15%;
}

.thead5 {
  width: 15%;
}
