<div *ngIf="!isSubmitting" class="team-container">
  <user-picker-component *ngIf="addUser" [filters]="members" [chooseUser]="chooseUser.bind(this)"></user-picker-component>
  <button *ngIf="addUser" type="button" (click)="cancelAddUser()">X</button>
  <button (click)="toggleAddUser()" type="button">Add user</button>
  <div class="member-row">
    <span class="member-name">Name</span>
    <span class="member-position">Position</span>
    <span class="member-email">Email</span>
    <span class="member-skype">Skype</span>
  </div>
  <team-member-component *ngFor="let member of members" [removeMember]="removeMember.bind(this)" [member]="member"></team-member-component>
</div>
