<div *ngIf="!isSubmitting" class="team-container row">
  <div class="head col-md-12">
    <div class="pull-left"><h2>Team</h2></div>
    <div class="pull-right row add-user" *ngIf="isAdmin || isPm">
      <div class="picker col-md-6"><user-picker-component *ngIf="addUser" [isEmpty]="isEmpty.bind(this)" [filters]="members" [chooseUser]="chooseUser.bind(this)"></user-picker-component></div>
      <div class="col-md-2"><button *ngIf="addUser" type="button" (click)="cancelAddUser()" class="btn btn-danger">Close</button></div>
      <div class="col-md-3"><button (click)="toggleAddUser()" [disabled]="disableButton" type="button" class="btn btn-primary">Add to team</button></div>
    </div>
  </div>
  <div class="member-head col-md-12 text-primary">
    <div class="row">
      <span class="member-name col-md-3">Name</span>
      <span class="member-position col-md-2">Position</span>
      <span class="member-email col-md-3">Email</span>
      <span class="member-skype col-md-3">Skype</span>
    </div>
  </div>
  <div class="member col-md-12">
    <team-member-component *ngFor="let member of members" [isAdminOrPm]="isPm || isAdmin" [removeMember]="removeMember.bind(this)" [member]="member"></team-member-component>
  </div>
</div>
