<div class="row">
  <h1 *ngIf="project" class="text-center">{{ project.name }}</h1><button class="btn btn-primary" [routerLink]="['/ticket', projectId]">New ticket</button>

  <div class="col-md-1">

  </div>

  <div
    class="col-md-2 ticket-container text-center"
    *ngFor="let key of ObjectKeys(staticData.ticketStatus)"
    dnd-droppable
    (onDropSuccess)="transferDataSuccess($event, key)">
    <h3>{{ staticData.ticketStatus[key] }}</h3>
    <div *ngFor="let task of tasks">
      <div [routerLink]="['/tasks', task.id]" class="ticket" *ngIf="task.statusId.toString() === key" dnd-draggable [dragEnabled]="true" [dragData]="task">
        <div>{{ task.name }}</div>
        <div>{{ task.description }}</div>
        <div>{{ task.responsibleId }}</div>
      </div>
    </div>
  </div>

</div>
