<div class="task-page row" *ngIf="!isSubmitting">
  <div class="col-md-offset-3 col-md-6">

    <h2 class="text-center">Task {{ task.Name }}</h2>
    <div *ngIf="!editing" class="task-info row">

      <div class="task-info-left col-md-6">
        <div>
          <strong>Project: </strong>
          <a [routerLink]="['/projects', project.id]">{{ project.name }}</a>
        </div>

        <div>
          <strong>Status: </strong>{{ staticData.ticketStatus[task.statusId] }}
        </div>

        <div>
          <strong>Type: </strong>{{ staticData.ticketType[task.typeId] }}
        </div>

        <div>
          <strong>Estimate: </strong>{{ task.estimate }}
        </div>

        <div>
          <strong>Start Date: </strong>{{ moment(task.startDate).format("DD-MM-YYYY") }}
        </div>

        <div>
          <strong>End Date: </strong>{{ moment(task.endDate).format("DD-MM-YYYY") }}
        </div>

        <div>
          <strong>Description: </strong>{{ task.description }}
        </div>

        <button type="button" class="btn btn-primary" [routerLink]="['/ticket', project.id]" name="button">New</button>
        <button type="button" class="btn btn-success" (click)="toggleEdit()" name="button">Edit</button>
        <button type="button" class="btn btn-danger" name="button" (click)="deleteTask()">Delete</button>
      </div>

      <div class="task-info-right col-md-6">
        <div><strong>Reporter: </strong>{{ task.reporter.FullName }}</div>
        <div><strong>Responsible: </strong>{{ task.responsible.FullName }}</div>
      </div>
    </div>

    <div *ngIf="editing" class="task-info row">
      <div class="task-editing-left col-md-6">
        <div>
          <strong>Project: </strong>
          <a [routerLink]="['/projects', project.id]">{{ project.name }}</a>
        </div>

        <div>
          <strong>Status: </strong>
          <app-task-picker-component [type]="'status'" [arr]="staticData.ticketStatus" [initial]="task.statusId" [chooseId]="chooseTaskId.bind(this)"></app-task-picker-component>
        </div>

        <div>
          <strong>Type: </strong>
          <app-task-picker-component [type]="'type'" [arr]='staticData.ticketType' [initial]="task.typeId" [chooseId]="chooseTaskId.bind(this)"></app-task-picker-component>
        </div>

        <div>
          <strong>Estimate: </strong><input class="form-control" type="text" (ngModelChange)="onChange()" [(ngModel)]="edit.Estimate"/>
        </div>

        <div>
          <strong>Start Date: </strong><dp-date-picker (ngModelChange)="onChange()" [(ngModel)]="edit.StartDate"></dp-date-picker>
        </div>

        <div>
          <strong>End Date: </strong><dp-date-picker (ngModelChange)="onChange()" [(ngModel)]="edit.EndDate"></dp-date-picker>
        </div>

        <div>
          <strong>Description: </strong><input class="form-control" type="text" (ngModelChange)="onChange()" [(ngModel)]="edit.Description"/>
        </div>

        <button type="button" class="btn btn-success" *ngIf="editing" (click)="submitEdit()" name="button">Submit Edit</button>
      </div>

      <div class="col-md-6">
        <div><strong>Reporter: </strong>{{ task.reporter.FullName }}</div>
        <div><strong>Responsible: </strong><app-user-picker-component [employeeId]="task.responsibleId" [chooseUser]="chooseUser.bind(this)"></app-user-picker-component></div>
      </div>

    </div>
  </div>
</div>
